@font-face {
  font-family: "Merriweather";
  src:url('assets/font/Merriweather-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: "Merriweather";
  src:url('assets/font/Merriweather-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: "Merriweather";
  src:url('assets/font/Merriweather-Light.ttf');
  font-weight: 300;
}
*{
  font-family: Merriweather, serif;
}
.app{
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}
